<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>excel</title>
    <!--F:\IdeaProjects\chowder\src\main\resources\static\js\jquery.min-1.8.1.js-->
    <script src="../js/jquery.min-1.8.1.js"></script>
</head>
<body>
    <p>导出excel</p>
    <button id="js-export" type="button" class="btn btn-primary">导出Excel</button>
    <hr/>


</body>
<script>
    $('#js-export').click(function(){
        window.location.href="/quicksboot/index/exportExcel";
    });
</script>
</html>